<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>用户列表</title>

    <!-- ZUI 标准版压缩后的 CSS 文件 -->
    <link rel="stylesheet" href="dist/css/zui.css"/>
    <!-- ZUI Javascript 依赖 jQuery -->
    <script src="dist/lib/jquery/jquery.js"></script>
    <!-- ZUI 标准版压缩后的 JavaScript 文件 -->
    <script src="dist/js/zui.js"></script>

</head>
<body>
<div class="container">
    <div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- 导航头部 -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">用户查询</a>
                </div>
                <!-- 导航项目 -->
                <div class="collapse navbar-collapse navbar-collapse-example">

                    <!-- 右侧的导航项目 -->
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logout">退出</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">探索 <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="https://github.com/Srpihot">My Github</a></li>
                                <li><a href="http://srpihot.site">My Site</a></li>
                                <li><a href="#">Srpihot</a></li>
                                <li class="divider"></li>
                                <li><a href="https://www.baidu.com">探索宇宙</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- END .navbar-collapse -->
            </div>
        </nav>
    </div>

    <div class="pull-left">
        <nav class="menu" data-ride="menu" style="width: 200px">
            <ul id="treeMenu" class="tree tree-menu" data-ride="tree">
                <li><a href="#"><i class="icon icon-th"></i>首页</a></li>
                <li><a href="#"><i class="icon icon-user"></i>个人资料</a></li>
                <li>
                    <a href="#"><i class="icon icon-time"></i>更新时间</a>
                    <ul>
                        <li><a href="#">今天</a></li>
                        <li><a href="#">明天</a></li>
                        <li><a href="#">昨天</a></li>
                        <li><a href="#">本周</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="icon icon-trash"></i>垃圾篓</a></li>
                <li><a href="#"><i class="icon icon-list-ul"></i>全部</a></li>
                <li class="open">
                    <a href="#"><i class="icon icon-tasks"></i>状态</a>
                    <ul>
                        <li>
                            <a href="#"><i class="icon icon-circle-blank"></i>已就绪</a>
                            <ul>
                                <li><a href="#">已取消</a></li>
                                <li><a href="#">已关闭</a></li>
                            </ul>
                        </li>
                        <li class="active"><a href="#"><i class="icon icon-play-sign"></i>进行中</a></li>
                        <li><a href="#"><i class="icon icon-ok-sign"></i>已完成</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <div class="pull-right" style="width: 900px;">
        <div class="panel">
            <div class="panel-heading">
                搜索条件
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <div class="input-control search-box search-box-circle has-icon-left has-icon-right search-example"
                         id="searchboxExample">
                        <input id="inputSearchExample3" type="search" class="form-control search-input"
                               placeholder="搜索">
                        <label for="inputSearchExample3" class="input-control-icon-left search-icon"><i
                                class="icon icon-search"></i></label>
                    </div>
                    <span class="input-group-btn">
				        <button class="btn btn-primary" type="button">搜索</button>
				      </span>
                </div>
            </div>


            <table class="table table-bordered">
                <thead>
                <th>用户ID</th>
                <th>账户名</th>
                <th>用户名</th>
                <th>用户密码</th>
                <th>用户权限</th>
                <th>操作
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal">新增
                    </button>
                </th>
                </thead>
                <tbody>
                <tr th:each="User:${allUser}">
                    <td th:text="${User.id}"></td>
                    <td th:text="${User.username}"></td>
                    <td th:text="${User.name}"></td>
                    <td th:text="${User.password}"></td>
                    <td th:text="${User.grants}"></td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#delModal"
                                th:onclick="delUser([[${User.id}]])">
                            删除
                        </button>
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                data-target="#editModal"
                                th:onclick="editUser([[${User.id}]],[[${User.username}]],[[${User.password}]],[[${User.name}]],[[${User.grants}]])">
                            修改
                        </button>

                    </td>
                </tr>
                </tbody>

            </table>

            <ul class="pager pull-right no-margin">

                <!-- 首页 -->
                <li>
                    <a th:href="'/userList?pageNum=0'">首页</a>
                </li>

                <!-- 上一页 -->
                <li th:if="${allUser.hasPrevious()}">
                    <a th:href="'/userList?pageNum=' + ${allUser.previousPageable().getPageNumber()}" th:text="上一页"></a>
                </li>

                <!-- 中间页 -->
                <li th:each="pageNum:${#numbers.sequence(0,allUser .getTotalPages()-1)}">
                    <a th:href="'/userList?pageNum=' + ${pageNum}" th:text="${pageNum + 1}" th:if="${pageNum ne allUser.pageable.getPageNumber()}"></a>
                    <a th:href="'/userList?pageNum=' + ${pageNum}" th:text="${pageNum + 1}" th:if="${pageNum eq allUser.pageable.getPageNumber()}" th:style="'font-weight:bold;background: #6faed9;'"></a>
                </li>

                <!-- 下一页 -->

                <li th:if="${allUser.hasNext()}">
                    <a th:href="'/userList?pageNum=' + ${allUser.nextPageable().getPageNumber()}" th:text="下一页"></a>
                </li>

                <!-- 尾页 -->
                <li>
                    <a th:href="'/userList?pageNum=' + ${allUser.getTotalPages() - 1}">尾页</a>
                </li>

            </ul>
        </div>


        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title">新增用户</h4>
                    </div>

                    <!--新增用户界面-->
                    <form action="/addUser" method="post">
                        <div class="modal-body ">

                            <div class="input-group with-padding">
                                <span class="input-group-addon">账户</span>
                                <input type="text" name="username" class="form-control" placeholder="账户">
                                <span class="input-group-addon"><i class="icon icon-heart"></i></span>
                            </div>

                            <div class="input-group with-padding">
                                <span class="input-group-addon">密码</span>
                                <input type="text" name="password" class="form-control" placeholder="用户密码">
                                <span class="input-group-addon"><i class="icon icon-heart"></i></span>
                            </div>

                            <div class="input-group with-padding">
                                <span class="input-group-addon">姓名</span>
                                <input type="text" name="name" class="form-control" placeholder="用户姓名">
                                <span class="input-group-addon"><i class="icon icon-heart"></i></span>
                            </div>

                            <div class="input-group with-padding">
                                <span class="input-group-addon">权限</span>
                                <select class="form-control" name="grants">
                                    <option>管理员</option>
                                    <option>普通会员</option>
                                </select>
                                <span class="input-group-addon"><i class="icon icon-heart"></i></span>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="submit" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="modal fade" id="delModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title">删除用户</h4>
                    </div>

                    <!--执行SpringBoot中的删除用户的方法-->
                    <form action="/deleteUser" method="post" name="delUserForm">
                        <input type="hidden" name="id"/>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary">确认</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!--id="editModal"  下面JS中的基本模型-->
        <div class="modal fade" id="editModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title">修改用户</h4>
                    </div>

                    <!--调用SpringBoot中的updateUser修改方法-->
                    <form action="/editUser" name="userUpdateForm" method="post">
                        <input type="hidden" name="id"/>
                        <div class="modal-body ">

                            <div class="input-group with-padding">
                                <span class="input-group-addon">账户</span>
                                <input type="text" name="username" class="form-control" placeholder="账户">
                                <span class="input-group-addon"><i class="icon icon-heart"></i></span>
                            </div>
                            <div class="input-group with-padding">
                                <span class="input-group-addon">密码</span>
                                <input type="text" name="password" class="form-control" placeholder="用户密码">
                                <span class="input-group-addon"><i class="icon icon-heart"></i></span>
                            </div>

                            <div class="input-group with-padding">
                                <span class="input-group-addon">姓名</span>
                                <input type="text" name="name" class="form-control" placeholder="用户姓名">
                                <span class="input-group-addon"><i class="icon icon-heart"></i></span>
                            </div>

                            <div class="input-group with-padding">
                                <span class="input-group-addon">权限</span>
                                <select class="form-control" name="grants">
                                    <option>管理员</option>
                                    <option>普通会员</option>
                                </select>
                                <span class="input-group-addon"><i class="icon icon-heart"></i></span>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="submit" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
<script>

    /*删除用户的操作*/
    function delUser(id) {

        document.delUserForm.id.value = id;
        // document.delUserForm.submit();

    }

    /*修改用户的操作*/
    function editUser(id, username, password, name, grants) {
        //将值传入到新界面界面中
        document.userUpdateForm.id.value = id;
        document.userUpdateForm.username.value = username;
        document.userUpdateForm.name.value = name;
        document.userUpdateForm.password.value = password;
        document.userUpdateForm.grants.value = grants;

    }
</script>
